body {
    text-align: center;
    background: lightgray;
}

canvas {
  max-width: 100%;
}

#center-buttons {
  display: inline-block;
  width: 65px;
  padding: 10px;
}

.game-b {
  width: 65px;
  height: 65px;
  margin: 2.5px;
  display: inline-block;
  border-radius: 15px;
}
